.buttonGroup {
  display: flex;
  justify-content: start;
}

.vlInfo {
  margin-right: 10px; /* Adjust the spacing between the children as needed */
}

.cvButton:hover {
  background-color: #e18984;
  border-color: #e18984;
}

.githubButton:hover {
  background-color: #6e5494;
  border-color: #6e5494;
}

.linkedinButton:hover {
  background-color: #0072b1;
  border-color: #0072b1;
}
