* {
  color: var(--foreground)
}

html {
  // background-color: var(--background) !important;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  font-family: Arial, Helvetica, Geneva, Verdana, sans-serif;
}

code {
  color: var(--accent);
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

u {
  text-decoration-color: var(--accent);
  text-decoration-thickness: 2px;
}

header,
footer {
  padding: 1vmin 0;
  background-color: var(--accent);
  p {
    color: var(--foreground-alt);
  }

  a {
    color: var(--foreground-alt);
  }
}

h1 {
  font-family: Rubik, Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-family: Rubik, Verdana, Geneva, Tahoma, sans-serif;
}

h5, h6 {
    font-weight: normal;
}

p, li {
  font-size: 1.15rem;
  line-height: 1.35;
}

li::marker {
  color: var(--accent)
}

section {
  margin: 1vmin 0;
  background-color: var(--background)!important;
}

b {
  color: var(--foreground)
}


@media only screen and (max-width: 720px) {
  .button-container {
    justify-content: space-around;
  }
}
