html {
    background-color: $background !important;
}

body {
    background-color: $background;
}

header, footer {
    padding: 25px 0;
    background-color: $header;
}

h1 {
    font-family: Futura;
}

button {
    background-color: $button;
    padding: 1vmin;
    border: 0;
    border-radius: 15px;

    &:hover {
        background-color: $button-hover;
    }
}