:root {
  --background: #F6F1F1;
  --foreground: #212529;
  --foreground-alt: #F6F1F1;
  --accent: #19A7CE;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #212529;
    --foreground: #F6F1F1;
    --foreground-alt: #F6F1F1;
    --accent: #D63385;
  }
}