.ghost {
    color: white;
  }

  .yellow {
    color: #ffde34
  }
  
  .tomato {
    color: tomato
  }

.green {
    color: forestgreen
}

.golden {
    color: gold
}

.leaf {
    color: brown
}

.bday {
    color: peachpuff
}

.snow {
    color: skyblue
}