.singleCol {
  max-width: 200px;
  margin: 0 auto;
}

.bottomText {
  max-width: 1000px;
  margin: 0 auto;
}

.icon {
  color: white;
  font-size: 2rem;
  transition: all 0.2s ease-in-out;
}

.github:hover {
  color: #6e5494;
  /* transform: scale(1.001);  */
}

.linkedin:hover {
  color: #0072b1;
  /* transform: scale(1.001);  */
}

.email:hover {
  color: #e18984;
  /* transform: scale(1.001);  */
}
