table {
  border-collapse: collapse;
  /* table-layout: fixed; */
  width: 100%;
}

td, th, tr {
  text-align: left;
  /* overflow: hidden; */
}

td {
  border-top: 1px solid #17314d;
}

/*
  Widths of each type of cell
*/

.title {
  width: 70%;
}

.class-num {
  width: 25%;
}

.grade {
  width: 5%;
}

