.link {
  color: #61dafb;
}

.github-link {
  background-color: #6e5494;
  border-color: #6e5494;
}

.figma-link {
  background-color: #1abcfe;
  border-color: #1abcfe;
}

.itch-link {
  background-color: #fa5c5c;
  border-color: #fa5c5c;
}
