.singleCol {
    max-width: 750px;
    margin: 0 auto
}

.social-media-icons-white a {
    color: white;
    font-size: 3.5rem;
    -webkit-transition: all 0.2s ease;
 }
 
 .social-media-icons-white a:hover {
    color: #F44336;
 }