.singleCol {
    max-width: 750px;
    margin: 0 auto
}

.social-media-icons-white {
    color: white;
    font-size: 3.5rem;
    -webkit-transition: all 0.2s ease;
 }
 

 .fa-github:hover {
    color:#6e5494;
 }
 
 .fa-linkedin:hover {
    color: #0072b1;
 }

