.button-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;

  .link-button {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: $foreground-alt;
    background-color: $button;
    padding: 1vmax;
    border: 3px solid $button;
    border-radius: 15px;
    min-width: 100px;
    transition: background-color 0.15s, color 0.15s;
    cursor: pointer;
    &:hover {
      color: $foreground;
      background-color: $background;
    }
  }

  .cv-button::before {
    content: url("../../../public/assets/file-earmark-person.svg");
    color: $foreground-alt;
    display: inline;
    padding-right: 0.25em;
    vertical-align: middle;
    margin: auto;
  }

  .linkedin-button::before {
    content: url("../../../public/assets/linkedin.svg");
    display: inline;
    padding-right: 0.25em;
    vertical-align: middle;
    margin: auto;
  }

  .github-button::before {
    content: url("../../../public/assets/github.svg");
    display: inline;
    padding-right: 0.25em;
    vertical-align: middle;
    margin: auto;
  }
}

@media only screen and (max-width: 720px) {
  .button-container {
    justify-content: space-evenly;
  }
}
