.button-container {
  // display: flex;
  // justify-content: flex-start;
  // gap: 0.5rem;

  .link-button {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: var(--foreground-alt);
    background-color: var(--accent);
    // padding: 1vmax;
    border: 3px solid var(--accent);
    border-radius: 15px;
    min-width: 100px;
    transition: background-color 0.15s, color 0.15s;
    cursor: pointer;

    .link-icon {
      margin-right: 0.25rem;
      path {
        color: var(--foreground-alt);
      }
    }

    &:hover {
      color: var(--foreground);
      background-color: var(--background);

      .link-icon {
        path {
          color: var(--foreground);
        }
      }
    }
  }

}

// @media only screen and (max-width: '720px') {
//   .button-container {
//     justify-content: space-evenly;
//   }
// }
