.about-section {
  .waving-emoji {
    display: inline-block;
    animation: wave 7s infinite;
  }
  
  @keyframes wave {
    0%, 100% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-10px) rotate(30deg);
    }
    50% {
      transform: translateY(0) rotate(0deg);
    }
    75% {
      transform: translateY(-10px) rotate(30deg);
    }
  }
  
  p {
    line-height: 2;
  }
}