.related-item {
  list-style-type: none;
  margin-left: 1em;
  &::before {
    content: "↳";
    font-weight: bold;
    font-style: normal;
    margin-right: 0.5em;
  }
}

.date-item {
  &::before {
    content: "🗓️";
    margin-right: 0.5em;
  }
}

.job-title {
  &::before {
    content: "💼";
    margin-right: 0.5em;
  }
}

.degree-item {
  &::before {
    content: "📜";
    margin-right: 0.5em;
  }
}

.arrow {
  color: var(--accent);
}
