.link {
  color: #61dafb;
}

.topics {
  font-size: calc(5px + 2vmin);
}

.github-link:hover {
  background-color: #6e5494;
  border-color: #6e5494;
}

.figma-link:hover {
  background-color: #1abcfe;
  border-color: #1abcfe;
}

.itch-link:hover {
  background-color: #fa5c5c;
  border-color: #fa5c5c;
}

