.brand-name {
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: 4px;
}

.banner {
  background-color: #17314d;
}

.project-icon {
  color:lightskyblue
}

.edu-icon {
  color:goldenrod
}
