.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #17314d;
  /* background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
  
}


.App-body {
  padding-top: 100px;
  padding-bottom: 25px;
  background-color: #234a74;
  display: flex;
  flex-direction: column;
  font-size: calc(9px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.red {
  margin: auto;
  text-align: left;
  width: 100%;
  
}


.App-card {
    background-color: #295788;
    color: white;
    padding: 0px;
    text-align: left;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.125);
}


